/* Добавить черный цвет фона для верхней навигации */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Добавить активный класс для выделения текущей страницы */
.active {
  background-color: #ff8c00;
  color: white;
}

/* Скрыть ссылку, которая должна открывать и закрывать верхнюю навигационную панель на небольших экранах */
.topnav .icon {
  display: none;
}

/* Раскрыть контейнер - необходим для размещения выпадающего содержимого */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Стиль кнопки выпадающего списка, чтобы соответствовать внутри верхней навигации */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  float: right;
}

/* Стиль раскрывающегося списка (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Стиль ссылки внутри выпадающего списка */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Добавить темный фон на верхних навигационных ссылках и выпадающая кнопка при наведении курсора */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Добавить серый фон для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Отображение выпадающего меню при наведении курсора мыши на кнопку раскрывающегося списка */
.dropdown:hover .dropdown-content {
  display: block;
}

.imgq{
   margin: 14px 16px;
   float: left;
}

/* Если ширина экрана меньше 600 пикселей, скройте все ссылки, кроме первой ("Главная"). Показать ссылку, которая содержит должен открыть и закрыть верхнюю навигационную панель (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}


/* Класс "responsive" добавляется в верхнюю навигационную панель используя JavaScript, когда пользователь нажимает на значок. Этот класс делает topnav хорошо выглядеть на небольших экранах (отображать ссылки по вертикали, а не по горизонтали) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.hero-section {
background-image: url('../images/background.jpg');
height: 100%;
margin: -0.70% -0.70%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

header {
   width: 100%;
   background: rgba(0, 0, 0, 0.512);
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
   padding: 15px 0;
   margin-bottom: 30px;
   position: relative;
}
/* логотип */
.logo {
   display: block;
   float: left;
}
.logo span {
   color: rgb(255, 255, 255);
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   border-radius: 50%;
   margin: 5px 0;
   text-align: center;
   text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
}
.logo span:nth-child(odd) {
   background: #EF5A42;
}
.logo span:nth-child(even) {
   background: #F8B763;
}

.content {
    padding-top: 60px; 
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-up, .about-us {
    padding: 20px;
    text-align: center;
    height: auto;
}

.post-title, .about-us-h1 {
    font-size: 5em;
    margin-bottom: 15px;
    color:rgb(251, 96, 61);
}


.home-ul {
    list-style-type: none;
    padding: 0;
}

.home-ul li {
    margin: 5px 0;
}

.about-us-p {
    font-size: 3em;
    margin: 20px 0;
}

/* Стили для изображений */
.post-image {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
    .post-title, .about-us-h1 {
        font-size: 1.5em;
    }

    .about-us-p {
        font-size: 1em;
    }
    .home-up, .about-us {
    padding: 20px;
    text-align: center;
}
}

@media (max-width: 480px) {
    .post-title, .about-us-h1 {
        font-size: 1.2em;
    }

    .about-us-p {
        font-size: 0.9em;
    }

    .home-ul li {
        font-size: 0.9em;
    }

    .post-image {
        width: 100%;
        margin: 5px 0;
    }

    #about-us div {
        margin-left: 0;
        margin-right: 0;
    }
    .home-up, .about-us {
    padding: 20px;
    text-align: center;
}
}

.about-us {
  width: auto;
  height: 700px;
  padding: 15px;
  background-color: aqua;
}

.about-us-h1 {
  color: black;
  font-size: 70px;
  text-align: center;
}
.about-us-p {
  color: black;
  font-size: 40px;
  text-align: center;
}

.post-image {
  margin: 20px 40px;
  width: 190px;
  height: 170px;
  margin-bottom: 5px;
}

.contact {
  margin: -3px 0px;
  width: auto;
  height: 200px;
  padding: 1px 15px;
  background-color: #3e3d3d;
}

.contact-h1{
  margin: 10px 25px;
  color: white;
  font-size: 25px;
}

.vk-cont {
  margin: 10px 25px;
  background-color: rgba(252, 220, 40, 0.507);
  color: white;
  font-size: 20px;
}

.con-cots-p {
  margin: 10px 25px;
  color: white;
}



@media (max-width: 768px) {
   /* показываем кнопку для переключения верхней навигации */
   .nav-toggle {
      display: block;
   }
   header {
      padding: 10px 0;
   }
   /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
   #menu {
      max-height: 0;
      background: white;
      float: none;
      position: absolute;
      overflow: hidden;
      top: 63px;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
   }
   /* делаем элементы списка блочными, чтобы они располагались друг под другом */
   #menu li {
      display: block;
      border-bottom: 1px solid #EBEBE3;
      text-align: center;
      margin-right: 0;
   }
   .about-us {
  width: auto;
  padding: 10px;
  background-color: aqua;
    }
    .about-us-p {
  color: black;
  font-size: 20px;
    }
    
    .post-image {
  margin: 10px 10px;
  width: 130px;
  height: 110px;
  margin-bottom: 5px;
}

}

@media (max-width: 480px) {
   /* отменяем обтекание для логотипа и выравниваем по центру*/
   .logo {
      float: none;
      margin: 0 auto 15px;
      display: table;
   }
   .logo span {
      margin: 0 2px;
   }
   /* позиционируем меню на увеличившуюся высоту шапки */
   #menu {
      top: 118px;
   }
   
   .about-us {
  width: auto;
  height: 900px;
  padding: 15px;
  background-color: aqua;
}
   
    .about-us-p {
  color: black;
  font-size: 20px;
}

   .post-image {
  margin: 20px 30px;
  width: 130px;
  height: 110px;
  margin-bottom: 5px;
}


}
