 body {
  font-family: 'Lato', Verdana;
  font-size: 100%;
  background: #fff;
}
.wrap
{
  margin: 0 auto;
  width: 70%;  /* отступы относительно окна браузера */
}
.header{
  padding: 1.3em 0em; /* поля вокруг текста */
}
.logo{
  float: left; /* обтекание логотипа */
}
.logo a {
  display: block; /* переопределение в блочный  */
}
.nav {
  float: right;   /* обтекание логотипа */
  margin-top: 0.82em;
}
.nav > ul > li {
  display:inline-block;  /* переопределение в строчно-блочный  */
}
.nav > ul > li.active a{
  background: #d0a5a5;
  color: #ffffff;
}
.nav > ul > li > a {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  color: #444;
  -webkit-transition: 0.9s; /* плавный переход  */
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.nav > ul > li > a:hover {
  color: #fff;
  background: #d0a5a5;
}

#home{
    margin: 0 auto;
    padding: 0;
    width: auto;
    padding: 10px 50px;
    text-align: center;
}

#home h1 {
    font-size: 50px;
    color: red;
}

#home li {
    padding: 5px;
    list-style-type: none;
    font-size: 30px;
    color: #fd571f;
}

#About {
    margin: 0 auto;
    width: auto;
    padding: 10px 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#About h1 {
    font-size: 50px;
}

#About p {
    font-size: 30px;
}

#About img {
    padding: 10px;
    width: 230px;
    height: 150px;
}

#footer {
    padding: 1px 15px;
    height: 185px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#footer h1 {
    font-size: 25px;
}

#footer p {
    font-size: 15px;
}

@media (max-width: 480px){
    #navbar a{
        font-size: 20px;
    }

    #home h1 {
        font-size: 30px;
    }

    #home li {
        font-size: 15px;
    }

    #About p {
        font-size: 15px;
    }

    #footer{
    height: 200px;
    }
}